*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #999;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    margin-bottom: 30px;

}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.navlinks{
     display: flex;
    list-style: none;
    gap: 30px;
}

.navlinks a{
    color: white;
    padding: 20px;
    font-size: 18px;
}

.navlinks a:hover{
    color: green;
    transition: 0.9s;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h1{
    font-size: 50px;
    padding: 10px;
    text-shadow: 0px 5px 5px #333;
}

h2{
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    color: white;
    text-transform: uppercase;
    
}
